# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://votre-projet.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=votre-anon-key
SUPABASE_SERVICE_ROLE_KEY=votre-service-role-key

# Base de données PostgreSQL (Supabase)
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.votre-projet.supabase.co:5432/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[PASSWORD]@db.votre-projet.supabase.co:5432/postgres

# CinetPay
CINETPAY_API_KEY=votre-api-key
CINETPAY_SITE_ID=votre-site-id
CINETPAY_SECRET_KEY=votre-secret-key

# Application
NEXTAUTH_SECRET=votre-secret-jwt-tres-long
NEXT_PUBLIC_APP_URL=https://pixivoire.ci

# Admin
ADMIN_EMAIL=admin@pixivoire.ci
